<form
  class="form-horizontal form-label-left"
  skipValidation
  [formGroup]="form"
  (ngSubmit)="saveChange()"
>
  <p-panel
    #pnlDetail
    header="Thông tin"
    [toggleable]="true"
    [collapsed]="false"
  >
    <div class="formgrid grid">
      <div class="field col-12 md:col-12">
        <label for="name">Name <span class="required">*</span></label>
        <input
          id="name"
          type="text"
          pInputText
          formControlName="name"
          [style]="{ width: '100%' }"
        />
        <app-validation-message
          [entityForm]="form"
          fieldName="name"
          [validationMessages]="validationMessages"
        ></app-validation-message>
      </div>
      <div class="field col-12 md:col-12">
        <label for="type">Type<span class="required">*</span></label>
        <p-dropdown
          optionLabel="label"
          optionValue="value"
          formControlName="type"
          [style]="{ width: '100%' }"
          [(ngModel)]="selectedSettingType"
          [options]="settingTypes"
        >
        </p-dropdown>
      </div>
      <div class="field col-12 md:col-12">
        <label for="description">Description</label>
        <input
          id="description"
          type="text"
          pInputText
          formControlName="description"
          [style]="{ width: '100%' }"
        />
        <app-validation-message
          [entityForm]="form"
          fieldName="description"
          [validationMessages]="validationMessages"
        ></app-validation-message>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <button
        pButton
        type="submit"
        class="btn btn-primary"
        [disabled]="!form.valid || btnDisabled"
      >
        {{ saveBtnName }}
      </button>
    </ng-template>

    <p-blockUI [target]="pnlDetail" [blocked]="blockedPanelDetail">
      <p-progressSpinner
        [style]="{
          width: '100px',
          height: '100px',
          position: 'absolute',
          top: '25%',
          left: '50%'
        }"
        strokeWidth="2"
        animationDuration=".5s"
      ></p-progressSpinner>
    </p-blockUI>
  </p-panel>
</form>
