<div class="animated fadeIn">
  <p-panel #pnl [style]="{ 'margin-bottom': '10px' }">
    <p-header> Setting Management </p-header>
    <div class="grid">
      <div class="col-8">
        <div class="formgroup-inline">
          <p-dropdown
            class="mr-2"
            [showClear]="true"
            [(ngModel)]="selectedSettingType"
            optionLabel="label"
            optionValue="value"
            placeholder="Type of setting"
            [options]="settingTypes"
            (ngModelChange)="onSettingTypeChange($event)"
          ></p-dropdown>
          <p-dropdown
            class="mr-2"
            [showClear]="true"
            [(ngModel)]="selectedActiveTypes"
            optionLabel="label"
            optionValue="value"
            placeholder="Status"
            [options]="activeTypes"
          ></p-dropdown>
          <div class="field">
            <input
              id="txtKeyword"
              pInputText
              placeholder="Nhập từ khóa..."
              (keyup.enter)="loadData()"
              [(ngModel)]="keyWords"
              type="text"
            />
          </div>
          <button type="button" pButton (click)="loadData()">Tìm</button>
        </div>
      </div>
      <div class="col-4">
        <button
          type="button"
          pButton
          label="Add New"
          (click)="showAddModal()"
        ></button>
      </div>
    </div>
    <p-table
      #pnl
      [value]="items"
      selectionMode="multiple"
      dataKey="id"
      [metaKeySelection]="true"
      [responsive]="true"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Description</th>
          <th>Active</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr [pSelectableRow]="row">
          <td>{{ row.name }}</td>
          <td>{{ getSettingTypeName(row.type) }}</td>
          <td>{{ row.description }}</td>
          <td>
            {{ row.active }}
          </td>
          <td>
            <button
              pButton
              type="button"
              label="Sửa"
              class="ml-1 p-button-help"
              (click)="showEditModal(row.id)"
            ></button>
            <button
              pButton
              type="button"
              label="Xóa"
              class="ml-1 p-button-danger"
              (click)="deleteItem(row.id)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div style="text-align: left">Tổng số: {{ totalCount | number }}</div>
      </ng-template>
    </p-table>

    <p-paginator
      [rows]="itemsPerPage"
      [totalRecords]="totalCount"
      (onPageChange)="pageChanged($event)"
      [rowsPerPageOptions]="[10, 20, 50, 100]"
    ></p-paginator>

    <p-blockUI [target]="pnl">
      <p-progressSpinner
        [style]="{
          width: '100px',
          height: '100px',
          position: 'absolute',
          top: '25%',
          left: '50%'
        }"
        strokeWidth="2"
        animationDuration="1s"
      ></p-progressSpinner>
    </p-blockUI>
  </p-panel>
</div>
