<div class="animated fadeIn">
  <p-panel #pnl [style]="{ 'margin-bottom': '10px' }">
    <p-header> Setting Management </p-header>
    <div class="grid">
      <div class="col-10">
        <div class="formgroup-inline">
          <div class="field flex flex-column gap-2">
            <label htmlFor="fromDate">From date</label>
            <input
              id="fromDate"
              pInputText
              placeholder="From date"
              type="date"
            />
          </div>
          <div class="field flex flex-column gap-2">
            <label htmlFor="toDate">To date</label>
            <input id="toDate" pInputText placeholder="To date" type="Date" />
          </div>
          <div class="field flex flex-column gap-2">
            <label htmlFor="status">Status</label>
            <p-dropdown
              id="status"
              class="mr-2"
              [showClear]="true"
              optionLabel="label"
              optionValue="value"
              placeholder="Status"
            ></p-dropdown>
          </div>
          <div class="field flex flex-column gap-2">
            <label htmlFor="txtKeyword">Search</label>
            <input
              id="txtKeyword"
              pInputText
              placeholder="Nhập từ khóa..."
              type="text"
            />
          </div>
          <button style="margin-top: 25px" type="button" pButton>Tìm</button>
        </div>
      </div>
      <div class="col-2">
        <button
          style="margin-top: 25px"
          type="button"
          pButton
          label="Add New"
          (click)="showAddModal()"
        ></button>
      </div>
    </div>
    <p-table
      #pnl
      selectionMode="multiple"
      dataKey="id"
      [metaKeySelection]="true"
      [responsive]="true"
      [value]="items"
    >
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Description</th>
          <th>StartDate</th>
          <th>DueDate</th>
          <th>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-row>
        <tr [pSelectableRow]="row">
          <td>
            <p-checkbox [binary]="true" inputId="binary"></p-checkbox>
          </td>
          <td>{{ row.name }}</td>
          <td>{{ row.description }}</td>
          <td>
            {{ row.startDate | date:'yyyy-MM-dd' }}
          </td>
          <td>
            {{ row.dueDate | date:'yyyy-MM-dd'}}
          </td>
          <td>
            <button
              pButton
              type="button"
              label="Sửa"
              class="ml-1 p-button-help"
              (click)="showEditModal(row.id)"
            ></button>
            <button
              pButton
              type="button"
              label="Xóa"
              class="ml-1 p-button-danger"
              (click)="deleteItem(row.id)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div style="text-align: left">Tổng số: {{totalCount | number}} </div>
      </ng-template>
    </p-table>

    <p-paginator
      [rows]="itemsPerPage"
      [totalRecords]="totalCount"
      (onPageChange)="pageChanged($event)"
      [rowsPerPageOptions]="[10, 20, 50, 100]"
    ></p-paginator>

    <p-blockUI [target]="pnl">
      <p-progressSpinner
        [style]="{
          width: '100px',
          height: '100px',
          position: 'absolute',
          top: '25%',
          left: '50%'
        }"
        strokeWidth="2"
        animationDuration="1s"
      ></p-progressSpinner>
    </p-blockUI>
  </p-panel>
</div>
