<div
  class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
>
  <div class="flex flex-column align-items-center justify-content-center">
    <h2>Register</h2>
    <div
      style="
        border-radius: 56px;
        padding: 0.3rem;
        background: linear-gradient(
          180deg,
          var(--primary-color) 10%,
          rgba(33, 150, 243, 0) 30%
        );
      "
    >
      <div
        class="w-full surface-card py-8 px-5 sm:px-8"
        style="border-radius: 53px"
      >
        <form [formGroup]="registerForm">
          <label for="userName" class="block text-900 text-lg font-medium mb-2"
            >User name</label
          >
          <input
            id="userName"
            formControlName="username"
            type="text"
            placeholder="User name"
            pInputText
            class="w-full md:w-30rem mb-2"
            style="padding: 1rem"
          />
          <label for="email1" class="block text-900 text-lg font-medium mb-2"
            >Email</label
          >
          <input
            id="email1"
            type="text"
            placeholder="Email address"
            formControlName="email"
            pInputText
            class="w-full md:w-30rem mb-2"
            style="padding: 1rem"
          />

          <label for="password1" class="block text-900 font-medium text-lg mb-2"
            >Password</label
          >
          <p-password
            id="password1"
            placeholder="Password"
            formControlName="password"
            [toggleMask]="true"
            styleClass="mb-2"
            inputStyleClass="w-full p-3 md:w-30rem"
          ></p-password>

          <div
            class="flex align-items-center justify-content-between mb-5 gap-5"
          >
            <div class="flex align-items-center">
              <p-checkbox
                id="rememberme1"
                [binary]="true"
                styleClass="mr-2"
              ></p-checkbox>
              <label for="rememberme1">Remember me</label>
            </div>

            <a
              [routerLink]="['/auth/login']"
              class="font-medium no-underline ml-2 text-right cursor-pointer"
              style="color: var(--primary-color)"
              >back to login</a
            >
          </div>
          <button
            pButton
            pRipple
            label="Register"
            (click)="register()"
            class="w-full p-3 text-xl"
          ></button>
          <div class="text-center m-4 or-text">
            <span>or</span>
          </div>
          <!-- <div class="list-button">
            <p-button
              styleClass="p-button-outlined w-full flex align-items-center justify-content-center"
              type="submit"
            >
              <img
                alt="gitlab"
                title="Sign in with Gitlab"
                class="mr-2"
                style="height: 20px; width: 20px"
                src="./assets/layout/images/logo/gitlab-logo.png"
              />
              <span class="gl-button-text"> Gitlab </span>
            </p-button>
          </div> -->
          <!-- <div class="list-button mt-2">
            <p-button
              styleClass="p-button-outlined w-full flex align-items-center justify-content-center"
              type="submit"
            >
              <img
                alt="gitlab"
                title="Sign in with Gitlab"
                class="mr-2"
                style="height: 20px; width: 20px"
                src="./assets/layout/images/logo/google-logo.png"
              />
              <span class="gl-button-text"> Google </span>
            </p-button>
          </div> -->

          <div id="buttonDiv"></div>
        </form>
        <p-blockUI [blocked]="">
          <p-progressSpinner></p-progressSpinner>
        </p-blockUI>
      </div>
    </div>
  </div>
</div>
